<div align="right"><a href="/logout"><i class="fa fa-2x fa-right-from-bracket" style="color:rgb(0, 1, 1);"></i></a></div>
<h1 align="center">Perfil de admin</h1>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tasks/cursoForm}}
        </div>
         <div class="col-md-7">
            {{> tasks/cursoFile}}
        </div>
    </div>   
</div>