<h1>Perfil de admin</h1>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tasks/cursoForm}}
        </div>
         <div class="col-md-7">
            {{> tasks/cursoFile}}
        </div>
    </div>   
</div>